<!DOCTYPE html>

<body>




<h1 align = "center">RC car</h1>




<table align="center">







    <tr>

        <td><button style="height:30px;width:80px" type="Button">Start</button></td>

        <td align="center" ><button style="height:30px;width:80px" type="Button">Foward</button></td>

        <td><button style="height:30px;width:80px" type="Button">Stop</button></td>

    </tr>

    <tr>

        <td><button style="height:30px;width:80px" type="Button">Left</button></td>

        <td><button style="height:30px;width:80px" type="Button">Backward</button></td>

        <td><button style="height:30px;width:80px" type="Button">Right</button></td>

    </tr> 

    <tr>

        <td><button style="height:30px;width:80px" type="Button">Trick 1</button></td>

        <td align="center" ><button style="height:30px;width:80px" type="Button">Trick 2</button></td>

        <td><button style="height:30px;width:80px" type="Button">Trick 3</button></td>

    </tr>         

</table>